<h1>Products</h1>
{{view Em.TextField valueBinding='filter'}}
<button type="button" {{action 'applyFilter'}}>Filter by Provider</button>
<br />
<br />
<table>
  <thead>
    <th {{action 'sort' 'name'}}>Name</th>
    <th {{action 'sort' 'price'}}>Price</th>
    <th {{action 'sort' 'provider.name'}}>Provider</th>
    <th>Created At</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {{#each}}
        <tr>
          <td>{{name}}</td>
          <td>{{price}}</td>
          <td>{{provider.name}}</td>
          <td>{{friendlyDate createdAt}}</td>
          <td>
            <button type='button' {{action 'edit' this}}>Edit</button>
            <button type='button' {{action 'delete' this}}>Delete</button>
          </td>
        </tr>
    {{/each}}
  </tbody>
</table>

<br />
<br />
<div class='edit-or-create-products'>
  {{outlet}}
</div>

